<head>
    <srcipt src="jquery-2.2.2.min.js"></srcipt>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_bxMbfoaQAbLCXzwT8unrVERY');
    </script>
</head>
<body>



        <form action="{{ path('Application_Stripe_valid') }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_bxMbfoaQAbLCXzwT8unrVERY"
                    {# logo urhome
                    data-image="/img/documentation/checkout/marketplace.png"#}
                    data-name="URHome"
                    data-description="2 widgets"
                    data-email="false"
                    data-currency="eur"
                    data-amount="2000"
                    data-locale="auto">
            </script>
        </form>


        <script type="text/javascript">

            jQuery(function($) {
                $('input[name=payment]').submit(function(event) {
                    var $form = $(this);

                    // Disable the submit button to prevent repeated clicks
                    $form.find('button').prop('disabled', true);

                    Stripe.card.createToken($form, stripeResponseHandler);

                    // Prevent the form from submitting with the default action
                    return false;
                });
            });

            function stripeResponseHandler(status, response) {
                var $form = $('#payment-form');

                if (response.error) {
                    // Show the errors on the form
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('button').prop('disabled', false);
                } else {
                    // response contains id and card, which contains additional card details
                    var token = response.id;
                    // Insert the token into the form so it gets submitted to the server
                    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                    // and submit
                    $form.get(0).submit();
                }
            };
        </script>

</body>

